#root {
    background-color: #003D4D;
  }
  
  .container {
    color: #E0E0E0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
    flex-grow: 1;
  }
  
  /* ///Button zum Mitarbeiter hinzufügen //// */
  .main-content-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
  }
  .animated-title {
    font-size: x-large;
  
  }

